body{
    display: flex;
    flex-direction: column;
}
.left{
    font-weight: bold;
    font-size: larger;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-shrink: 0;
}
.right{
    color: aliceblue;
    margin-left: auto;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;

}
.Header{
display: flex;
background-color: #1f2937;
padding: 50px;
flex: 1;
}

.center{
    background-color: #1f2937;
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 32px;
    gap: 18px;
    justify-content: center;

    flex-shrink: 1;
}

.portimg{
    display: flex;
    flex-shrink: 0;
    padding: 18px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.title{
    color: white;
    font-size: 35px;
    font-weight: bold;
}


.middle{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 16px;
    margin: 12px;
    

}
.imgtext{
    max-width: 150px;
}

.middle >.Char> img{
    height: 150px;
    width: auto;
    border-radius: 25px;
    border: 12px;
    border-color: #3882f6;

}
.MainChar{
    align-self: center;
    padding: 18px;
    margin: 18px;
    font-size: 32px;
    font-weight: bolder;
    color: #1f2937;
}
.second{
    background-color:#e5e7eb;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.Author{
    align-self: flex-end;
    font-weight: bold;
    color: black;
}
.third{
    display: flex;
flex-direction: row;
justify-content: space-between;
justify-content: center;
margin: 50px;
padding: 32px;
background-color: #3882f6;
border-radius: 25px;
color: white;
max-width: 350px;
align-self: center;
}
.inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    padding: 5px;
    margin: 5px;
}
.button2{
    display: flex;
    
}
.button2> button{
    border-radius: 10px;
    border-color:white;
    
   
    align-self: center;
    background-color: #3882f6;
    padding: 10px;
    margin: 10px;
}
.sign{
    font-size: 27px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    
    padding: 18px;
    color: aliceblue;

}
a{
    color: white;
    text-decoration:none;
}

img {
    width: auto;
    height: 150px;
}
.Click{
    background-color: #3882f6;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    border-color: transparent;
    align-self: center;
}
.qoute{
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}